# 用於讀取 YAML 設定檔
PyYAML==6.0.1

# 用於讀取和處理資料檔案
pandas==2.2.2

# 用於連接 Kafka 並發送訊息
kafka-python==2.0.2

#SASL/SCRAM
# sasl==0.3.1

#移除 sasl，换成 AWS 官方的 IAM 签名
aws-msk-iam-sasl-signer-python==1.0.2

confluent-kafka==2.11.0

# 提供 SSL 证书，用于 AWS MSK IAM 认证

certifi==2024.7.4



# AWS SDK for Python

boto3==1.34.140
